{% extends 'hod_templates/base_template.html' %}

{% block page_title %}
    Attendance Table
{% endblock page_title %}

{% block main_content %}

<section class="content">
    <div class="main-container">
		<div class="pd-20 card-box mb-30">
			<div class="clearfix">
				<div class="pull-left">
					<h3 class="text-blue h4"> SMS Attendance Report</h3>
                    <button id="export-btn" class="btn btn-primary" onclick="check()" style="text-align: right;">Send SMS to All</button>

				</div>
			</div>
		<div class="pb-20">
                <table id="attendance-table"  class="table nowrap stripe">
                    <thead>
                        <tr>
                            <th>
                               
                            </th>
                        {% for column_name in column_names %}
                        <th>{{ column_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_data %}
                    <tr>
                        <td></td>
                        <td>{{ student.student_id }}</td>
                        <td>{{ student.number }}</td>
                        <td>{{ student.student_name }}</td>
                        <td>{{ student.parent }}</td>
                        <td>{{ student.cumulative_percentage }}</td>
                    </tr>
                    {% endfor %}
                </tbody>  
            </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script>
    ajaxCall = (url, object) => {
        $('html, body').css("cursor", "wait");
        $.ajax({
            type: "POST",
            crossDomain:false,
            url: url,
            contentType: "application/json",
            data: JSON.stringify(object),
            success: function (response) {
                $('html, body').css("cursor", "auto");
                alert("SMS Sent");
                },
                error: function () {
                    $('html, body').css("cursor", "auto");
                    alert("Error in Sending SMS Data");
                }
            });
        

        };
        check = () => {
            const studentNumbers = [
                {% for student in student_data %}
                    "{{ student.parent }}",
                {% endfor %}
            ];

            const course = {{ course_id }};
            var startdate = {{ start_date }};
            var enddate = {{ end_date }};
            const percentage = [
                {% for student in student_data %}
                    "{{ student.cumulative_percentage }}",
                {% endfor %}
            ];
            var message = `Dear Parent, your student attendance is as follows:\n`;
            var phone = studentNumbers;
            var temp2 = percentage;
            ajaxCall("https://6m0haa6fb5.execute-api.ap-south-1.amazonaws.com/version1/sendattendance", {  "phone_numbers": phone,"attendance_percentages": temp2,"message": message });
            console.log("sms sent");
        };
</script>

{% endblock custom_js %}
